.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 5px 8px;
    background-color: grey;
    color: var(--light-grey);
    max-width: 300px;
    width: 100%;
}

.search input {
    width: 100%;
}

.search-btn {
    background: none;
    border: none;
    padding: 0;
}

