.products-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    perspective: 1000px;
}

@media screen and (max-width: 991px) {
    .products-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 577px) {
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}