.product-card_wrap {
    position: relative;
    width: 100%;
    height: 500px;
}

.product-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 3px lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.product-card__img-wrap {
    flex: 1;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product-card__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.product-card__img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 7px;
}

.img-overlay-section {
    flex: 1;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    display: flex;
    align-items: flex-end;
}

.img-overlay-progress {
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.product-card__img-overlay:hover .img-overlay-progress {
    background-color: gray;
}
 
.img-overlay-section:hover .img-overlay-progress {
    background-color: #fff;
}

.product-card__title {
    margin-top: 8px;
    max-width: 90%;
    font-size: 20px;
    height: 3em;
    transition: height 200ms ease-in;
    overflow: hidden;
}

.product-card__add-to-favs {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: none;
    border: 1px solid var(--purple);
    color: var(--purple);
}

.product-card__add-to-favs:hover {
    background-color: var(--purple);
    border: none;
    color: white;
}

.product-card__add-to-favs i  {
    margin: 0;
    font-size: 20px;
}

.product-card__add-to-favs .bi-suit-heart-fill {
    color: crimson;
}

.product-card_wrap:hover .product-card__add-to-favs {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .product-card_wrap {
        height: 280px;
    }

    .product-card__img-wrap {
        height: 150px;
    }

    .product-card__add-to-favs {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    .product-card__add-to-favs i {
        font-size: 16px;
    }
    .product-card_wrap:hover .product-card {
        height: 100%;
        transform: scale(1) translateY(0);
        box-shadow: 3px 3px 7px lightgrey;
    }
    .product-card__title {
        font-size: 15px;
    }

    .product-card__add-to-favs:hover {
        background: none;
        border: 1px solid var(--purple);
    }
}