.nav {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
}

.nav__categories-btn {
  display: none;
  font-weight: 500;
}

.nav__categories-btn i {
  font-size: 11px;
}

.nav__categories-btn.opened i::before {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .nav__categories-btn {
    display: block;
  } 
  .nav__categories-link {
    display: none;
  }
}