.nav-item {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: relative;
}

.nav-item.nav-sale {
    height: 30px;
    width: 90px;
    background-color: var(--yellow);
    border-radius: 6px;
}

.nav-item.active {
    border-bottom: 5px solid var(--light-grey);
    font-weight: 500;
}

.nav-item i {
    font-size: 11px;
    margin: 0;
    vertical-align: center;
}

.nav-item__arrow {
    display: inline-block;
}

.nav-item__arrow.hovered {
    transform: rotate(180deg);
}

.nav-item__popup {
    position: absolute;
    top: 100%;
    left: -10px;
    width: 200px;
    background: #333;
    padding: 15px 10px;
}

.nav-item__sub-link {
    display: block;
    margin-top: 10px;
}

.nav-item__sub-link:hover {
    text-decoration: underline;
}